<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Food_Plazza_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Foodservlet</display-name>
    <servlet-name>Foodservlet</servlet-name>
    <servlet-class>com.controller.Foodservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Foodservlet</servlet-name>
    <url-pattern>/Foodservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customerservlert</display-name>
    <servlet-name>Customerservlert</servlet-name>
    <servlet-class>com.controller.Customerservlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customerservlert</servlet-name>
    <url-pattern>/Customerservlert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginervlet</display-name>
    <servlet-name>Loginervlet</servlet-name>
    <servlet-class>com.controller.Loginervlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginervlet</servlet-name>
    <url-pattern>/Loginervlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedabackservlet</display-name>
    <servlet-name>Feedabackservlet</servlet-name>
    <servlet-class>com.controller.Feedabackservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedabackservlet</servlet-name>
    <url-pattern>/Feedabackservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Orderservlet</display-name>
    <servlet-name>Orderservlet</servlet-name>
    <servlet-class>com.controller.Orderservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orderservlet</servlet-name>
    <url-pattern>/Orderservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedbackservlet</display-name>
    <servlet-name>Feedbackservlet</servlet-name>
    <servlet-class>com.controller.Feedbackservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedbackservlet</servlet-name>
    <url-pattern>/Feedbackservlet</url-pattern>
  </servlet-mapping>
</web-app>